KDM2Model.edit/
KDM2Model.editor/
VisualizacionMetricas3.editor/
VisualizacionMetricas3/
KDM2Model/
VisualizacionMetricas3.edit/
*.class
/*.class
workspace/
runtime-EclipseApplication2/
runtime-EclipseApplication/
miso4301_201520/models/res*/*.xmi
*.aird
/*.aird
Visualizacion3SIRIUS/*.visualizacionmetricas3
miso4301_201520/transformations/M2T/Result*/
miso4301_201520/models/sisinfo_core_kdm.xmi
