<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0"
	xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
	<persistence-unit name="SoporteSisinfoPU"
		transaction-type="JTA">
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<jta-data-source>jdbc/sisinfo</jta-data-source>
		
		
		<class>co.uniandes.sisinfo.entities.AccionVencida</class>
		<class>co.uniandes.sisinfo.entities.AlertaMultiple</class>
		<class>co.uniandes.sisinfo.entities.Archivo</class>
		<class>co.uniandes.sisinfo.entities.AsistenciaGraduada</class>
		<class>co.uniandes.sisinfo.entities.Aspirante</class>
		<class>co.uniandes.sisinfo.entities.AuditoriaUsuario</class>
		<class>co.uniandes.sisinfo.entities.Autorizado</class>
		<class>co.uniandes.sisinfo.entities.CalificacionCriterio</class>
		<class>co.uniandes.sisinfo.entities.CalificacionJurado</class>
		
		<class>co.uniandes.sisinfo.entities.Candidato</class>
		<class>co.uniandes.sisinfo.entities.CargaProfesor</class>

		<class>co.uniandes.sisinfo.entities.Categoria</class>
		<class>co.uniandes.sisinfo.entities.CategoriaCriterioJurado</class>
		<class>co.uniandes.sisinfo.entities.CategoriaCriterioTesis2</class>
		
		<class>co.uniandes.sisinfo.entities.CategoriaProyectoDeGrado</class>
		<class>co.uniandes.sisinfo.entities.ClasedePrueba</class>
		<class>co.uniandes.sisinfo.entities.Coasesor</class>
		<class>co.uniandes.sisinfo.entities.ComandoAuditoria</class>
		<class>co.uniandes.sisinfo.entities.ComandoXML</class>
		<class>co.uniandes.sisinfo.entities.ComentarioTesis</class>
		<class>co.uniandes.sisinfo.entities.ComentarioTesisPregrado</class>
		<class>co.uniandes.sisinfo.entities.CondicionFiltroCorreo</class>
		<class>co.uniandes.sisinfo.entities.ConfiguracionFechasCH</class>
		<class>co.uniandes.sisinfo.entities.Constante</class>
	
		<class>co.uniandes.sisinfo.entities.Convocatoria</class>
		<class>co.uniandes.sisinfo.entities.CorreoAuditoria</class>
		<class>co.uniandes.sisinfo.entities.CorreoSinEnviar</class>
		<class>co.uniandes.sisinfo.entities.Credencial</class>
		<class>co.uniandes.sisinfo.entities.CriterioCalificacion</class>
		<class>co.uniandes.sisinfo.entities.CursoMaestria</class>
		<class>co.uniandes.sisinfo.entities.CursoPlaneado</class>
		<class>co.uniandes.sisinfo.entities.CursoTesis</class>
		<class>co.uniandes.sisinfo.entities.DatosContacto</class>
		<class>co.uniandes.sisinfo.entities.DescargaProfesor</class>
		<class>co.uniandes.sisinfo.entities.DiaDisponibilidad</class>
		<class>co.uniandes.sisinfo.entities.DireccionTesis</class>
		<class>co.uniandes.sisinfo.entities.DirectorioInterfacesPorRol</class>
		<class>co.uniandes.sisinfo.entities.DisponibilidadCoordinacion</class>
		<class>co.uniandes.sisinfo.entities.Elemento</class>
		<class>co.uniandes.sisinfo.entities.Encargado</class>
		<class>co.uniandes.sisinfo.entities.EstadoTesis</class>
		<class>co.uniandes.sisinfo.entities.EstudianteMatriculado</class>
		<class>co.uniandes.sisinfo.entities.EstudiantePosgrado</class>
		<class>co.uniandes.sisinfo.entities.Evento</class>
	
		<class>co.uniandes.sisinfo.entities.ExcepcionSisinfo</class>
		<class>co.uniandes.sisinfo.entities.FiltroCorreo</class>
		<class>co.uniandes.sisinfo.entities.Grupo</class>
		<class>co.uniandes.sisinfo.entities.HojaVida</class>
		<class>co.uniandes.sisinfo.entities.HorarioDia</class>
		<class>co.uniandes.sisinfo.entities.HorarioSustentacionTesis</class>
		<class>co.uniandes.sisinfo.entities.Horario_Disponible</class>
		<class>co.uniandes.sisinfo.entities.Incidente</class>
		<class>co.uniandes.sisinfo.entities.InformacionEmpresa</class>
		<class>co.uniandes.sisinfo.entities.Inscripcion</class>
		<class>co.uniandes.sisinfo.entities.InscripcionAsistente</class>
	
		<class>co.uniandes.sisinfo.entities.InscripcionSubareaInvestigacion</class>
		<class>co.uniandes.sisinfo.entities.IntencionPublicacion</class>
		<class>co.uniandes.sisinfo.entities.JuradoExternoUniversidad</class>
		<class>co.uniandes.sisinfo.entities.Laboratorio</class>
		<class>co.uniandes.sisinfo.entities.ListaBlancaErroresSisinfo</class>
		<class>co.uniandes.sisinfo.entities.ListaComandoXML</class>
		<class>co.uniandes.sisinfo.entities.ListaNegraReservaCitas</class>
		<class>co.uniandes.sisinfo.entities.Lista_Negra</class>
		
		<class>co.uniandes.sisinfo.entities.ModuloSisinfo</class>
		<class>co.uniandes.sisinfo.entities.MonitoriaAceptada</class>
		<class>co.uniandes.sisinfo.entities.MonitoriaOtroDepartamento</class>
		<class>co.uniandes.sisinfo.entities.MonitoriaRealizada</class>
		<class>co.uniandes.sisinfo.entities.Monitoria_Solicitada</class>
		<class>co.uniandes.sisinfo.entities.NivelTesis</class>
		<class>co.uniandes.sisinfo.entities.Oferta</class>
		<class>co.uniandes.sisinfo.entities.OtrasActividades</class>
		<class>co.uniandes.sisinfo.entities.ParametroAceptado</class>
		<class>co.uniandes.sisinfo.entities.Periodicidad</class>
		<class>co.uniandes.sisinfo.entities.Periodo</class>
		<class>co.uniandes.sisinfo.entities.PeriodoPlaneacion</class>
		<class>co.uniandes.sisinfo.entities.PeriodoTesis</class>
		<class>co.uniandes.sisinfo.entities.PeriodoTesisPregrado</class>
		<class>co.uniandes.sisinfo.entities.PersonaSoporte</class>
		<class>co.uniandes.sisinfo.entities.PeticionConflictoHorario</class>
	
		<class>co.uniandes.sisinfo.entities.Proponente</class>
		<class>co.uniandes.sisinfo.entities.ProyectoDeGrado</class>
		<class>co.uniandes.sisinfo.entities.ProyectoFinanciado</class>
		<class>co.uniandes.sisinfo.entities.RangoFechas</class>
		<class>co.uniandes.sisinfo.entities.RangoFechasGeneral</class>
		<class>co.uniandes.sisinfo.entities.Regla</class>
		<class>co.uniandes.sisinfo.entities.Reserva</class>
		<class>co.uniandes.sisinfo.entities.ReservaInventario</class>
		<class>co.uniandes.sisinfo.entities.ReservaMultiple</class>


		<class>co.uniandes.sisinfo.entities.Solicitud</class>
		
		<class>co.uniandes.sisinfo.entities.SubareaInvestigacion</class>
		<class>co.uniandes.sisinfo.entities.TareaMultiple</class>
		<class>co.uniandes.sisinfo.entities.TareaSencilla</class>
		<class>co.uniandes.sisinfo.entities.TemaTesis1</class>
		<class>co.uniandes.sisinfo.entities.TemaTesisPregrado</class>
		<class>co.uniandes.sisinfo.entities.Tesis1</class>
		<class>co.uniandes.sisinfo.entities.Tesis2</class>
		<class>co.uniandes.sisinfo.entities.TimerAuditoria</class>
		<class>co.uniandes.sisinfo.entities.TimerGenerico</class>
		<class>co.uniandes.sisinfo.entities.TipoArchivo</class>
		<class>co.uniandes.sisinfo.entities.TipoAsistenciaGraduada</class>

		<class>co.uniandes.sisinfo.entities.TipoPublicacion</class>

		
		<class>co.uniandes.sisinfo.entities.Votacion</class>
		<class>co.uniandes.sisinfo.entities.Votante</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.Curso</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.Dia</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.DiaCompleto</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.Estudiante</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.Facultad</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.Franja</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.GrupoInvestigacion</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.InformacionAcademica</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.NivelFormacion</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.NivelPlanta</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.Parametro</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.Persona</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.Profesor</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.Programa</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.Rol</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.Seccion</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.Sesion</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.Usuario</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.soporte.Ciudad</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.soporte.Departamento</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.soporte.Pais</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.soporte.TipoCuenta</class>
		<class>co.uniandes.sisinfo.entities.datosmaestros.soporte.TipoDocumento</class>
		
		<exclude-unlisted-classes>false</exclude-unlisted-classes>
		<properties>
			<property name="hibernate.archive.autodetection" value="class" />
			<property name="hibernate.show_sql" value="false" />
			<property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect" />
			<property name="hibernate.hbm2ddl.auto" value="create-drop" />
			<property name="eclipselink.ddl-generation" value="drop-and-create-tables" />
		</properties>
	</persistence-unit>
	<!-- </persistence-unit> -->
</persistence> 